$theme-colors: (
  "warning":#93EC04,
  "dark":#212121,
  "danger":#fff,
  "primary":#818181
);

$white:#818181;


$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
 
$font-family-monospace: SourceHanCodeJP-Regular, "Ricty Diminished", "fontSourceCodeVariable-Roman", "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
 
$line-height-base: 1.65;
 
$font-size-base:              1rem !default; // Assumes the browser default, 
$h1-font-size:                $font-size-base * 1.7 !default;
$h2-font-size:                $font-size-base * 1.58 !default;
$h3-font-size:                $font-size-base * 1.46 !default;
$h4-font-size:                $font-size-base * 1.34 !default;
$h5-font-size:                $font-size-base * 1.22 !default;
$h6-font-size:                $font-size-base * 1.1 !default;
 
$headings-font-weight: 700;
 
body {
  letter-spacing: .04em;
  text-align: justify;
}
 
code {
  letter-spacing: -.02em;
}
 
@font-face {
  font-family: "SourceHanCodeJP-Regular";
  src: local("SourceHanCodeJP-Regular");
}
@font-face {
  font-family: "Ricty Diminished";
  src: local("Ricty Diminished");
}
@font-face {
  font-family: "fontSourceCodeVariable-Roman";
  src: local("SourceCodeVariable-Roman");
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}
 
@media all and (-ms-high-contrast: none) {
  body,
  tooltip,
  popover {
    font-family: Verdana, Meiryo, sans-serif;
  }
}
@import "../scss/bootstrap.scss";


$custom:#93F9D8;
body{
  background-color: #FFF;
}
.container{
    #main-header{

        .backphoto{
            background-image: url('../../img/overlay.jpg');
            background-size: cover;
        }

        .dark-overlay{
            background: rgba(0,0,0,.8);
        }

        
        
        .header-img{
            background: rgb(0,0,0,);
            width: 100%;
            height: 100%;
            img{
                opacity: 0.2;
                width: 100%;
                height: 100%;
            }
        }

        .fab:hover{
            color: #93EC04;
            
            cursor: pointer;
        }

        .bg-black{
            background-color: black;
        }

        .port-item{
            width: 30%;
            
            
        }

        .port-item:hover,
        .active{
            color: #93EC04;
            position: relative;
            bottom: 1rem;
            cursor: pointer;
        }
    }

    #home{
        .home-hover:hover{
          color: #93EC04;
        }
    }



    #works{

      .hovers{
        background: #fff;
        
      }

      .mask{
        width:			100%;
        height:			100%;
        position:		absolute;	/* 絶対位置指定 */
        top:			0;
        left:			0;
        opacity:		0;	/* マスクを表示しない */
        background-color:	rgba(0,0,0,0.6);	/* マスクは半透明 */
        transition:		all 0.2s ease;

        &:hover{
          opacity: 1;
        }
      }

      .captions{
        font-size: 1.4rem;
        text-align: center;
        height: 100%;
      }


      .worksample{
        height: 400px;
        width: 400px;
        overflow: hidden;
      }
    }


    #skill{
      .skill-hover:hover{
        color: #93EC04;
      }
    }
  
  // .home-header,
  // .works-header,
  // .skill-header{
  //   background-image: url(../../img/stripe.jpg);
  //   background-size: cover;
  //   background-position: bottom;
  // }
}


@media(max-width:767px){
    #main-header h1{
        font-size: 2rem;
    }
}

@media(min-width:768px) and (max-width:991px){
    .header-item{
        display: none;
        
    }
}

@media(max-width:991px){
    #home{
        .h-responsive{
            margin: 0!important;
        }

        .d-flex{
            margin-left: 0!important;

            &:first-child{
                margin-top: 2rem;
            }
        }
    } 
    
    #works{
      .worksample{
        margin-bottom: 2.5rem;
      }
      
      .workresponsive{
        margin-left: 0;
      }
    }
}
@media(min-width:992px){
    .header-item i{
        font-size: 30px;
    }
}


@media(min-width:1199px){
    


    .port-item{
        padding: 4em!important;
    }
}